@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

#background {
	background: url(images/bg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-bottom: 100px;
	padding-bottom: 50px;
}
/* Header **/
header{
	 background:#35424a;
	 color:#111;
}
ul{
	margin:0;
	padding:0;
}
header a{
	font-size:16px;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	line-height: 30px;
	font-size: 8px;
	text-align: center;
	text-transform: uppercase;
	text-decoration:none;
	color: #000000;
}
header li{
  	float:left;
    display:inline;
	padding: 0 8px 0 8px;
	font-family: Helvetica;
	line-height: 18px;
	font-size: 8px;
	letter-spacing: 5px;
	color: #2CA1F8;
}
#contact {
	margin-right: 0px;
	padding-right: 0px;
	text-align: right;
}
header #branding{
	float:left;
}
header #branding h1{
	margin:0;
}
header nav{
	float:right;
	margin-top:0px;
}
header .highlight {
	font-family: Helvetica;
	line-height: 18px;
	font-size: 8px;
	letter-spacing: 5px;
	color: #2CA1F8;
	margin: 0;
	padding: 0;
}
header .code {
	font-family: Helvetica;
	line-height: 18px;
	font-size: 8px;
	letter-spacing: 5px;
	color: #000;
	margin: 0;
	padding: 0;
}
header a:hover{
	color:#cccccc;
	font-weight:bold;
}
.line1 {
	/*font-size: 35px;*/
	color: #000;
}
.thalescode {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	line-height: 25px;
	font-size: 30px;
	letter-spacing: -0.3px;
	color: #000000;
	margin-top: 50px;
	padding-left: 50px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.thalescode_description {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	line-height: 43px;
	font-size: 25px;
	letter-spacing: -0.3px;
	color: #000000;
	mix-blend-mode: normal;
	/*margin-top: 50px;*/
	padding-left: 50px;
	padding-top: 20px;
}
.thalescode_description_2nd_line {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	line-height: 43px;
	font-size: 25px;
	letter-spacing: -0.3px;
	color: #000000;
	mix-blend-mode: normal;
	/*margin-top: 50px;*/
	padding-left: 50px;
}
#black_botton_1 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	line-height: 18px;
	font-size: 8px;
	text-transform: uppercase;
	color: #FFFFFF;	
	padding: 5px 15px;
	background-color: #000;
	margin-right: 2px;
	margin-left: 50px;
	margin-top: 20px;
}
#black_botton_2 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	line-height: 18px;
	font-size: 8px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 5px 15px;
	background-color: #000;
	margin-right: 2px;
	margin-left: 20px;
	margin-top: 20px;
}
.thalescode_paragraph {
	margin: 0px 35px;
	font-family: Ubuntu;
	font-style: normal;
	/*font-weight: 500;*/
	/*line-height: 23px;*/
	font-size: 10px;
	text-transform: lowercase;
	color: #000000;
	background-color: white;
	padding: 0px 60px;
	mix-blend-mode: normal;
	/*opacity: 0.3;*/
}
#thalescode_img {
	width: 300px;
	height: 300px;
	border-radius: 200px;
	margin-left: -120px;
	margin-top: 30px;
}
.latestjobs {
	padding: 15px;
	margin: -60px 0px 30px 0px;
}
.LatestJobs_title {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	line-height: 90px;
	font-size: 30px;
	color: #2B3247;
}
.motivo {
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 12px;
	text-transform: uppercase;
	color: #2B3247;
	mix-blend-mode: normal;
	opacity: 0.5;
}
#findmore {
	background-color: white;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	line-height: 16px;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	color: lightgrey;
	float: right;
    border-radius: 19px;
    text-align: center;
    border: 2px solid lightgrey;
    padding: 8px 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: -15px;
}
.h2, .h3, h2, h3 {
    margin-top: 20px;
    margin-bottom: 0px;
    border: 0 0;
}
.fullstack_developer {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 15px;
	color: #2B3247;
}
.thumbnail .caption {
    padding: 0px;
    margin: 0px;
    color: #333;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    }
#price1 {
	margin-top: 0px;
	margin-bottom: 23px;
}
#price2 {
	margin-top: 0px;
	margin-bottom: 10px;
}
#price3 {
	margin-top: 0px;
	margin-bottom: 18px;
}
#price4 {
	margin-top: 0px;
	margin-bottom: 18px;
}
.content1 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	line-height: 20px;
	font-size: 12px;
	color: #000000;
	mix-blend-mode: normal;
	opacity: 0.6;
}
p {
	font-size: 8px;
}
.line5 {
	/*display: block;*/
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
	/*border: none;*/
	width: 15px;
	float: left;
	color: #000;
}
.long_hr {
	left: 4.75%;
	right: -4.94%;
	opacity: 0.4;
	border: 1px solid #979797;
	/*padding-bottom: 50px;*/
}
.getWhereyouAreGoing_Title {
	position: relative;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	line-height: 46px;
	font-size: 30px;
	color: #000000;
	margin-top: 150px;
	margin-bottom: 20px;
}
.getWhereyouAreGoing {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	line-height: 22px;
	font-size: 14px;
	color: #000000;
	mix-blend-mode: normal;
	opacity: 0.6;
}
.squarebox {
	float: left;
}
.line6 {
	top: 115px;
	border-top: 4px solid #333;
	width: 30px;
	position: absolute;
}
.readmore {
	background-color: white;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	line-height: 16px;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	color: lightgrey;
	float: right;
    border-radius: 18px;
    text-align: center;
    border: 2px solid lightgrey;
    padding: 8px 8px;
    text-decoration: none;
    display: inline-block;
    float: left;
    margin-top: 40px;
    padding: 5px 15px;
}
#boxImg {
	width: 400px;
	height: 400px;
	margin-top: 100px;
	margin-left: 30px;
	/*float: right;*/
}
.Why_ThalesCode {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 10px;
	text-align: center;
	color: #2B3247;
}
.why_developers_choose_us {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	color: #2B3247;
	mix-blend-mode: normal;
	opacity: 0.5;
	margin-top: 20px;
}
.Employers {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 5px;
	text-transform: uppercase;
	color: #000000;
	margin-left: 450px;
	margin-top: 20px;
}
.Candidates {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 5px;
	text-transform: uppercase;
	color: #8C93AA;
	mix-blend-mode: normal;
	opacity: 0.2;
	margin-left: 300px;
	margin-top: 20px;
}
.Why_ThalesCode_line5 {
	border-top: 4px solid #333;
	width: 30px;
	margin-bottom: 50px;
	margin-left: 200px;
}
.number {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: normal;
	color: #2CA1F8;
	margin-top: 0px;
	margin-top: 0px;
	padding-top: 0px;
}
.IT_Training {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: normal;
	text-transform: capitalize;
	color: #2B3247;
}
.IT_Training_paragraph {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 19px;
	color: #000000;
	mix-blend-mode: normal;
	opacity: 0.5;
}
.ThalesBlog_title {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	line-height: 73px;
	padding-top: 25px;
	margin-top: 80px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	color: #2B3247;
}
.learnmore {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	font-size: 8px;
	line-height: normal;
	text-transform: uppercase;
	margin-top: -35px;
	padding-top: 0px;
	color: #2B3247;
	mix-blend-mode: normal;
	opacity: 0.5;
}
.card-text_1 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 40px;
	color: #000000;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.card-text_2 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	color: #000000;
}
.card-text_3 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	color: #000000;
}
.card_text_4 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 32px;
	margin-right: 8px;
	color: #000000;
	padding-bottom: 20px;
}
.card_paragraph_1 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;
	text-align: justify;
	padding-top: 0px;
	color: #8C93AA;
}
.card_paragraph_2 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;
	text-align: justify;

	color: #8C93AA;
}
.card_paragraph_3 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;
	text-align: justify;

	color: #8C93AA;
}
.card_paragraph_4 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;
	text-align: justify;
	padding-top: 0px;
	color: #8C93AA;
}
.ThalesCode_Headquaters {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 39px;

	color: #2B3247;
}
.Seek_for_where_we_are {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: normal;
	text-transform: uppercase;
	padding-bottom: 60px;
	color: #2B3247;
	mix-blend-mode: normal;
	opacity: 0.5;
}
#line6_ThalesCode_Headquaters {
	margin-top: 30px;
}
.ThalesCode_Headquaters_address {
	/* Meguro-ku, Tokyo Nak */
	font-family: SanFranciscoDisplay;
	font-size: 18px;
	line-height: 25px;
	color: #313541;
}
.ThalesCode_Headquaters_contact {
	/* CONTACT */
	font-family: SanFranciscoDisplay;
	font-weight: bold;
	font-size: 19px;
	line-height: 27px;
	color: #313541;
}
.ThalesCode_Headquaters_TEL {
	/* TEL: +81 (3) 6303 21 */
	font-family: SanFranciscoDisplay;
	font-size: 19px;
	line-height: 21px;
	color: #313541;
}
table {
	margin-top: 8px;
	padding-bottom: 30px;
	margin-bottom: 50px;
	margin-left: 70px;
}
td {
	line-height: 26px;
	display: block;
	padding-bottom: 15px;
}
#send_submit {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: normal;
	text-align: center;
	color: #FFFFFF;
	height: 55px; 
	width: 390px; 
	background-color: #2B3247
}
.footer {
	margin-left: 120px;
}
ul {
	list-style-type: none;
}
li {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 29px;
	letter-spacing: 1px;
	padding-bottom: 5px;
	color: #000000;
}
.footer_information {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: normal;
	letter-spacing: 0.84px;
	color: #000000;
	margin-right: 30px;
	padding-right: 30px;
	padding-bottom: 13px;
}
.footer_partners {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: normal;
	letter-spacing: 0.84px;
	color: #000000;
	padding-bottom: 13px;
}
.footer_subscribe {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: normal;
	letter-spacing: 0.84px;
	margin-left: 250px;
	color: #000000;
}
.subscribe_email {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: normal;
	color: #000000;
	mix-blend-mode: normal;
	opacity: 0.4;
	margin-left: 250px;
	margin-top: 15px;
	padding: 15px;
	size: 200;
}
.Copyright {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	font-size: 10px;
	line-height: normal;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #000000;
	margin-left: 250px;
}